<node>
	NodeID=AlwaysPublish1
	PublishProb=1.0
	DownloadProb=1.0
</node>
<node>
	NodeID=AlwaysPublish2
	PublishProb=0.75
	DownloadProb=1.0
</node>
<node>
	NodeID=AlwaysPublish3
	PublishProb=0.5
	DownloadProb=1.0
</node>
<node>
	NodeID=AlwaysPublish4
	PublishProb=0.25
	DownloadProb=1.0
</node>
<node>
	NodeID=SometimesPublish1
	PublishPro=0.7
	DownloadPro=1.0
</node>
<node>
	NodeID=SometimesPublish2
	PublishPro=0.7
	DownloadPro=0.5
</node>
<node>
	NodeID=SometimesPublish3
	PublishPro=0.5
	DownloadPro=1.0
</node>
<node>
	NodeID=SometimesPublish4
	PublishPro=0.5
	DownloadPro=0.5
</node>
<node>
	NodeID=FreeRider1
	PublishPro=0.0
	DownloadPro=1.0
</node>
<node>
	NodeID=FreeRider2
	PublishPro=0.0
	DownloadPro=0.5
</node>
<node>
	NodeID=FreeRider3
	PublishPro=0.0
	DownloadPro=0.25
</node>